<style type="text/css">
  .sidenav {
    height:100%;
    width:170px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: :hidden;
    padding-top:10px;
  }

  .sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:20px;
    color: #818181;
    display:block;
  }

  .sidenav a:hover{
    color:#f1f1f1;
  }	

  .main{
    margin-left:170px;
    padding: 0px 10px;
  }

  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
  }
  .hello-msg1{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  .sidenav li .submenu{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
  }

</style>

<div class="sidenav">
  <span class="hello-msg"> Welcome,{{request.user}}</span>
  <a href="/">Home</a>
  <a href="{% url 'profile' %}">Profile</a>
  <ul class="nav flex-column" id="nav_accordion">
  <li class="nav-item has-submenu">
		<a class="nav-link" href="#">Work</a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="{% url 'leave' %}">Leave</a></li>
      <li><a class="nav-link" href="{% url 'input' %}">Input</a></li>
			<li><a class="nav-link" href="{% url 'task' %}">Task</a></li>
      <li><a class="nav-link" href="{% url 'ticket' %}">Ticket</a></li>
			<li><a class="nav-link" href="{% url 'policy' %}">Policy</a></li>
		</ul>
	</li>
  <a href="{% url 'status' %}">Status</a>
  <a href="{% url 'analytics' %}">Analytics</a>
  <a href="{% url 'calender' %}">Calendar</a>
  <a href="{% url 'abc' %}">Organization Chart</a>
  <a href="{% url 'select_overtime' %}">Select overtime</a>
  {% if request.user.is_staff %}
  <li class="nav-item has-submenu">
		<a class="nav-link" href="#">Admin View</a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="{% url 'teams' %}">Teams</a></li>
			<li><a class="nav-link" href="{% url 'events' %}">Events</a></li>
			<li><a class="nav-link" href="{% url 'admin_view' %}">analytics_ot</a></li>
      <li><a class="nav-link" href="{% url 'overtime_events' %}">Overtime</a></li>
      <li><a class="nav-link" href="{% url 'policy_admin' %}">Create Policy</a></li>
		</ul>
	</li>
  <a href="{% url 'clientregister' %}">Register</a> 
  {% endif %}
  <span><a class="hello-msg1" href="{% url 'logout' %}">Logout</a></span>
  </ul> 

</div>


<script>
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelectorAll('.sidenav .nav-link').forEach(function(element){
      
      element.addEventListener('click', function (e) {
  
        let nextEl = element.nextElementSibling;
        let parentEl  = element.parentElement;	
  
          if(nextEl) {
              e.preventDefault();	
              let mycollapse = new bootstrap.Collapse(nextEl);
              
              if(nextEl.classList.contains('show')){
                mycollapse.hide();
              } else {
                  mycollapse.show();
                  // find other submenus with class=show
                  var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                  // if it exists, then close all of them
                  if(opened_submenu){
                    new bootstrap.Collapse(opened_submenu);
                  }
              }
          }
      }); // addEventListener
    }) // forEach
  }); 
</script>


{% comment %} <style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
    }
</style>
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"> <i><strong><h5>Employee Dashboard</h5></strong></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          <a class="nav-link" href="{% url 'input' %}">Work</a>
          <a class="nav-link" href="{% url 'leave' %}">Leave</a>
          <a class="nav-link" href="{% url 'status' %}">Status</a>
          <a class="nav-link" href="{% url 'policy' %}">Policy</a>
          <a class="nav-link" href="{% url 'analytics' %}">Analytics</a>
          <a class="nav-link" href="{% url 'calender' %}">Calendar</a>
          <a class="nav-link" href="{% url 'teams' %}">Teams</a>
          <a class="nav-link" href="{% url 'events' %}">Events</a>
          <a class="nav-link" href="{% url 'task' %}">Task</a>
          <a class="nav-link" href="{% url 'ticket' %}">Ticket</a>
          <a class="nav-link" href="{% url 'admin_view' %}">Others analytics</a>
          <a class="nav-link" href="{% url 'overtime_events' %}">Overtime</a>
          <a class="nav-link" href="{% url 'select_overtime' %}">Select overtime</a>
      </div>
    </div>
    <span class="hello-msg"> Welcome, {{request.user}}</span>
    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  </nav>   {% endcomment %}