{% extends 'base.html' %}

<div class="container-fluid">
	{% block content %}
    <br>
    <h3>Ticket Form<span title="This page helps you to create a ticket for queries and other discussions&#013;with people.People who recieve the ticket will be able to respond &#013;to your queries and give suggestions."><i class="fa-regular fa-block-question"></i></span></h3>
    <div class="col-md-8">
        <div class="card card-body"> 
            <form method="POST" class="col-sm-6 col-form-label" id="TaskForm" data-persons-url="{% url 'ajax_load_persons' %}" novalidate>
              {% csrf_token %}
              {{form.as_p}}
          
            <input class="btn btn-success" type="submit" name="Submit Task">
            </form> 
        </div>
    </div>
</div>

<br>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="{% url 'ticket_display' %}"><button class='btn btn-primary'>Ticket Display</button></a>
&nbsp&nbsp&nbsp&nbsp<a href="{% url 'mytickets' %}"><button class='btn btn-primary'>My Tickets</button></a>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    $("#id_team").change(function () {
      var url = $("#TaskForm").attr("data-persons-url");  // get the url of the `load_cities` view
      var teamId = $(this).val();  // get the selected country ID from the HTML input
      console.log(url)
      console.log(teamId)


      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'team': teamId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_send_to").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}